


.pagination {
  margin-top:20px;
}

.pagination ul, .pagination li {
  display:inline-block;
}

.pagination a {
  color:rgb(29,161,242);
}



#user_menu {
  position: absolute;
  top: 30px;
  right: 10px;

  padding:5px;
  background-color: white;

  color:black;
  width: 90px;
  font-size: 80%;

  box-shadow:2px 2px 2px 1px gray;
  display: none;

}

#user_name:hover {
  text-decoration: underline;
  cursor:pointer;
}

.account_profile {
  border-bottom: 1px solid #eee;

}

#user_menu p {
  margin: 0;
}

#user_menu a {
  color:black;
}


.header_user a {
  color:white;
}



.post_type {
  font-size: 90%;
}


#new_draft {
  margin-right: 20px;
}

.plus {
  font-size: 120%;
}


#new_draft:hover {
  text-decoration: underline;
  cursor:pointer;
}


#new_draft a {
  color: white;
}




.paginationWrap {
  display: flex;
  justify-content: center;
  margin-top: 38px;
  margin-bottom: 40px;
}

.paginationWrap ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.paginationWrap ul.pagination li {
display: inline;
margin-right: 4px;
}

.paginationWrap ul.pagination li a {
  color: #2f3859;
  padding: 8px 14px;
  text-decoration: none;
}

.paginationWrap ul.pagination li a.active {
  background-color: #4b90f6;
  color: white;
  border-radius: 40px;
  width: 38px;
  height: 38px;
}

.paginationWrap ul.pagination li a:hover:not(.active) {
  background-color: #e1e7f0;
  border-radius: 40px;
}
