
* {
  box-sizing: border-box;
  text-decoration: none;
}

p,h1 {
  margin: 0;
}

body {
  margin: 0;
  font-family:sans-serif;
}

header a {
  color: white;
}

a:hover {
  text-decoration: underline;
}


header {

  height:40px;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
  background-color: #111;
  color:white;
  font-size: 80%;
 
}

.header_user {
  margin-left: 20px;
}

.header_auth {
  display: flex;
  padding-right: 20px;
}

.header_signup {
  margin-right: 30px;
}


.container {
  width: 90%;
  margin: 0 auto;
}


#main {
  display: flex;
  width: 100%;
  margin-top: 100px;
}

#main_left {
  width: 20%;
  background-color: white;
  min-height: 500px;
  margin-right: 3%;
}

#main_left a {
  color:black;
}

.left_menu {
  height: 50px;
  line-height: 50px;
  margin-left: 15px;
  margin-right:15px;

  color:#555;
}

.arr {
  display: inline-block;
  height: 8px;
  width: 8px;
  transform:rotate(-45deg);

  border-bottom:1px solid gray;
  border-right: 1px solid gray;
  margin-right: 10px;

}





#main_right {
  width: 77%;
  background-color: white;
  min-height:500px;
}




.user {
  display: flex;
  padding: 10px 10px 30px 10px;
  border-bottom: 1px solid #ddd;
}

.userHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.userAbout {
  width: 100%;
}

.userHeaderRight {
  margin-top: 10px;
  margin-right: 10px;
}


.follow {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid rgb(29,161,242);
  border-radius: 5px;
  width: 120px;
  text-align: center;

  color:rgb(135, 171, 194)
}

.unfollow {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  width: 120px;
  text-align: center;
  background-color:  rgb(29,161,242);
  color:white;
}


.userImg {
  height: 50px;
  width: 50px;
  background-color: #ddd;
  flex-grow:0;
  flex-shrink:0;

  margin-right: 20px;
}

.userImg img {
  width: 100%;
}

.userName {
  font-size: 100%;
}

.userName a {
  color:black;
}

.userDetail {
  display: flex;
  font-size: 80%;
  margin-bottom: 10px;
}

.userId {
  margin-right: 10px;
}

.tabs {
  display: flex;
  margin-bottom: 50px;
}

.tab {
  width: 33%;
  text-align: center;
}

.tabs a {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  color: #333;
  width: 100%;
}

.tabs a:hover {
  background-color: #eee;
  text-decoration: none;

}

.underline {
  height: 2px;
  background-color: lightblue;
}

.boxLink {
  color: #333;
  text-decoration: none;
}

.boxLink:hover {
  text-decoration: none;
}

.user:hover {
  background-color: #f8f8f8;
}


#img {
  width: 100%;
}