
* {
  box-sizing: border-box;
  text-decoration: none;
}

p,h1 {
  margin: 0;
}

body {
  margin: 0;
  font-family:sans-serif;
}


header {

  height:40px;
  line-height: 40px;
  display: flex;
  justify-content: space-between;
  background-color: #111;
  color:white;
  font-size: 80%;
 
}

.header_user {
  margin-left: 20px;

}

.header_auth {
  display: flex;
  padding-right: 20px;
  position: relative;
}

.header_signup {
  margin-right: 30px;
}


.container {
  width: 90%;
  margin: 0 auto;
}





#main {
  display: flex;
  width: 100%;
  margin-top: 100px;
}

#main_left {
  width: 20%;
  background-color: white;
  min-height: 500px;
  margin-right: 3%;
}

.left_menu {
  height: 50px;
  line-height: 50px;
  margin-left: 15px;
  margin-right:15px;

  color:#555;
}

.arr {
  display: inline-block;
  height: 8px;
  width: 8px;
  transform:rotate(-45deg);

  border-bottom:1px solid gray;
  border-right: 1px solid gray;
  margin-right: 10px;

}





#main_right {
  width: 77%;
  background-color: white;
  min-height:500px;

}

.post {
  min-height: 500px;
  border: 1px solid #ddd;
}

.post_header {
  padding-top:50px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
}



.post_header_right, .post_header_left {
  display: flex;
}




.post_fav {
  margin-right: 30px;
}







.post_user {
  margin-right: 20px;
}

.post_date {
  margin-right: 20px;
}

.post_title {
  font-size: 120%;
  margin-bottom: 100px;
  padding-right: 20px;
  padding-left: 20px;
}

.post_content {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 50px;

}




.comments {
  margin-top: 100px;
  margin-left: 50px;
}

.comments_header {
  font-size: 120%;
}

.comment_header {
  padding-top:50px;
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  margin-bottom: 20px;

}

.comment_user {
  margin-right: 20px;
}

.comment_date {
  margin-right: 20px;
}


.comment_content {
  padding-left: 20px;
  padding-bottom: 50px;
}

.post_comment textarea {
  margin-top: 30px;
  margin-left: 20px;
  width: 100%;
  padding-top: 5px;
  padding-left: 10px;
}

.btn {
  display: inline-block;
  width: 100px;
  padding: 5px 10px;
  border: none;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: 20px;
  border-radius: 3px;
  background-color:#2CB696;
  color:white;
}

.err {
  font-size: 70%;
  color:red;
  margin-left: 20px;
}

.favLink {
  color:#333;
  font-size: 200%;
}

.favorited {
  color:pink;
}

.post_delete {
  font-size: 80%;
  margin-top: 15px;
  margin-right: 10px;
  color: #333;
}

.post_delete a {
  color: #333;
}


#main_left a {
  color:black;
}